#menuContent {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000 !important;
    margin-top: 1px;
    padding:5px;
    overflow: auto;
    max-height: 400px;
}

th[name="action"]{
    width:70px;
}

.dt-right{
    text-align: right;
}
.dt-left{
    text-align: left;
}
.dt-center{
    text-align: center;
}

.dt-word-wrap{
    overflow:hidden; white-space: nowrap; text-overflow: ellipsis;
}

#todo-task-modal>.modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    margin: 0 auto;
}