<#import "../../layout/global.ftl" as global />

<form id="data-form" class="form-horizontal" role="form" callfn="refreshTable"
      action="<@global.api '#if(${package.ModuleName})${package.ModuleName}#end/${table.entityPath}/'+param.id!''/>">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">$#{param.id???string('编辑','新建')}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-body">
                    #foreach($field in ${table.fields})
                        <div class="form-group">
                        <label class="control-label col-md-3">#if("$!field.comment" != "")${field.comment}#end
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-5">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" class="form-control" name="${field.propertyName}" placeholder="请输入#if("$!field.comment" != "")${field.comment}#end"/></div>
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn blue">保存</button>
    </div>
</form>

<script type="text/javascript">
    var id = "$#{param.id!''}";
    $(function () {
        loadData();
        $('#data-form').validate({
            rules: {
                #foreach($field in ${table.fields})
                ${field.propertyName}:"required",
                #end
            }
        });
    });
    function loadData() {
        var method = "";
        if (id != "") {
            $('#data-form').beeForm("/#if(${package.ModuleName})${package.ModuleName}#end/${table.entityPath}/" + id);
            method = "PUT";
        } else {
            method = "POST";
        }
        $('#data-form').attr("method", method);
    }
</script>
